<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inicio del Portfolio de Desarollo de Entornos Virtuales de Tomas Fraire">
    <meta name="keywords" content="FORNT END, BACK END, DEV, DEVBLOG, DEVVLOG, FREELANCER, JAVASSCRIPT, MERN, HTML, CSS, SASS, BOOTSTRAP">
    
    <title>Fraire Dev | About Me</title>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../Assets/favicon/favicon.ico" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body class="W-tx-cl">
    <header class="header sticky-top">
        <!-- Barra de navegación (Navbar) -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">
                <img class="homeIcon" src="../Assets/favicon/programming-code-signs_59118.png" alt="Icono de la pagina">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="aboutMe.html">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="skills.html">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="W-tx-cl aboutMe__Main">
        <div class="row">
            <div class="col-lg-6">
                <h2><span>I</span>nfo<span>.</span></h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3><span>Nombre</span></h3>
                        <p>Tomas Matias</p>
                    </div>
                    <div class="col-md-6">
                        <h3><span>Apellido</span></h3>
                        <p>Fraire Guzzo</p>
                    </div>
                    <div class="col-md-6">
                        <h3><span>Edad</span></h3>
                        <p>21</p>
                    </div>
                    <div class="col-md-6">
                        <h3><span>Nacionalidad</span></h3>
                        <p>Argentina</p>
                    </div>
                    <div class="col-md-6">
                        <h3><span>Mail</span></h3>
                        <p>tomifraire@gmail.com</p>
                    </div>
                    <div class="col-md-6">
                        <h3><span>Ocupacion</span></h3>
                        <p>Estudiante</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"> <!-- Columna en dispositivos mayores a 1000px -->
                <img src="../Assets/SVG/form.svg" alt="Ilustracion de un celular con un tilde de confrimacion en el medio" class="responsive-img sideILus">
            </div>
        </div>
        <!--CV-->
        <div class="accordion" id="accordionExample">
            <h4>TimeLine de Empleos</h4>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        U_lounge.ba · Jornada completa
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>01/23 a 07/23</p>
                        <strong>Gestión de caja · atencion al cliente · Resolución de problemas · Ventas · Recepcion</strong>
                        <ol>
                            <li>                   
                                <p>Recepcionista en hostel de palermo, mi rol abarca desde mantener un orden y asegurar la calidad y estado de las intalaciones, hasta resolver conflictos con clientes. </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Beautyvioletas · Jornada parcial
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>03/23 a 12/22</p>
                        <strong>Gestión de ventas · Trabajo en equipo · Resolución de problemas · Equipo de oficina · Servicio de atención al cliente · Microsoft Excel</strong>
                        <ol class="roman-numerals-list">
                            <li>
                                <p>Beautyvioletas, Recepción: Mi responsabilidad iba desde agendar turnos, cobro de los profesionales y servicios dados, manejo de redes, venta de productos y el manejo de caja.</p>
                            </li>
                            <li>
                                <p>Para ayudar a unos conocidos durante septiembre y noviembre fui encargado de un sector en una cafetería.</p>
                            </li>
                            <li>
                                <p>En mis tiempos libres reparto con Rappi y trabajo en mi emprendimiento de venta de ropa.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Quiquia · Jornada parcial
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>04/21 a 11/21</p>
                        <strong>Mesero, Lavavajillas, Lavacopas, Barman y Recepcionista</strong>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Azul Construcciones · Autónomo
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>03/19 a 03/21</p>
                        <strong>Comunicación interpersonal · Gestión · Ventas · Modelado 3D SketchUp· Diseños 2D Autocad·  Control de stock · Compra de insumos y materiales · Muebles · Impermeabilización de cubiertas y terrazas · Electricidad interior · Obrero y ayudante de obrero</strong>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Correo Argentino · Jornada completa
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>08/19 a 09/20</p>
                        <strong>Auxiliar administrativo: Atención al cliente · Microsoft Office · Comunicación interpersonal · Gestión · Ventas · Inglés · Equipo de oficina · Servicio de atención al cliente · Microsoft Excel</strong>
                    </div>
                </div>
            </div>
        </div>    
    </main>
    
    <footer class="footer W-tx-cl">
        <div class="container">
        <div class="row">
            <div class="col-12 text-center">
            <!-- Íconos sociales -->
            <ul class="footer__iconos">
                <li class="footer__item">
                <a href="https://www.linkedin.com/in/tomas-matias-fraire-guzzo-ba5ab01b6/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="footer__item">
                <a href="https://github.com/tomasfraire" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li class="footer__item">
                <a href="https://www.youtube.com/channel/UCLauGYi1HpsUoFupvhM-wlw" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </li>
                <li class="footer__item">
                <a href="https://instagram.com/matita_estudio?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><i class="fa-brands fa-square-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
            <!-- Párrafo de derechos reservados -->
            <p>Derechos reservados &copy; Tomás Fraire | Coderhouse 2023 | Curso de Desarrollo Web Flex</p>
            </div>
        </div>
        </div>
    </footer>
    <!--js scripts boostrap y popperjs-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/83fc7f532e.js" crossorigin="anonymous"></script>
</body>

</html>