<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Fraire CV</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="./Assets/favicon/favicon.ico" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body class="W-tx-cl">
    <header class="header sticky-top">
        <!-- Barra de navegación (Navbar) -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">
                <img class="homeIcon" src="../Assets/favicon/programming-code-signs_59118.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="aboutMe.html">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="skills.html">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="W-tx-cl">
        <!--Slider-->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../Assets/Img/FinalCoderFlex.jpeg" class="d-block w-100" alt="Imagen 1">
                </div>
                <div class="carousel-item">
                    <img src="../Assets/Img/MindHubCamilo.jpeg" class="d-block w-100" alt="Imagen 2">
                </div>
                <div class="carousel-item">
                    <img src="../Assets/Img/TechBerry.jpeg" class="d-block w-100" alt="Imagen 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--Galeria-->
        <div class="container mt-5">
            <div class="row">
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/FirstBootstrap.jpeg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModal1">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/FinalCoderFlex.jpeg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModal2">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/GameCosntruct.png" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModal3">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/GameUnityDomestica.png" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModal4">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/MindHubCamilo.jpeg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModal5">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/TechBerry.jpeg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModal6">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/Background.jpg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModalES">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/Background.jpg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModalES">
            </div>
            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/Background.jpg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModalES">
            </div>
                            <div class="col-md-4 mb-4">
                <img src="../Assets/Img/Background.jpg" class="img-fluid" alt="Imagen de projecto" data-bs-toggle="modal" data-bs-target="#projectModalES">
            </div>
            </div>
        </div>
    </main>
    
<!-- Modales -->
    <section>
        <!-- Modal 1 -->
        <div class="modal fade" id="projectModal1" tabindex="-1" aria-labelledby="projectModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="projectModal1Label">Quik's: desafio Bootstrap</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div>   
                            <img src="../Assets/Img/FirstBootstrap.jpeg" alt="" class="responsive-img imgB">
                        </div>
                        <!--Descripcion-->
                        <div>   
                            <p class="text-black">Primer Proyecto para entender el uso de Bootstrap</p>
                        </div>
                        <!--techIcons-->
                        <div class="d-flex align-items-center mb-3">
                            <span class="icon-container me-2">
                                <!--Icono-->
                                <i class="fa-brands fa-html5 color-orange"></i>
                            </span>
                            <span class="icon-container me-2 color-blue">
                                <!--Icono-->
                                <i class="fa-brands fa-css3-alt"></i>
                            </span>
                            <span class="icon-container me-2 color-purple">
                                <!--Icono-->
                                <i class="fa-brands fa-bootstrap"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2 -->
        <div class="modal fade" id="projectModal2" tabindex="-1" aria-labelledby="projectModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="projectModal2Label">Portafolio WEB</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div>   
                            <img src="../Assets/Img/FinalCoderFlex.jpeg" alt="" class="responsive-img imgB">
                        </div>
                        <!--Descripcion-->
                        <div>   
                            <p class="text-black">Proyecto Final del curso de Desarollo WEB Flex de coder house</p>
                        </div>
                        <div>   
                            <img src="../Assets/Img/logos_coderhouse.png" alt="" class="responsive-img">
                        </div>
                        <!--techIcons-->
                        <div class="d-flex align-items-center mb-3">
                            <span class="icon-container me-2">
                                <!--Icono-->
                                <i class="fa-brands fa-html5 color-orange"></i>
                            </span>
                            <span class="icon-container me-2 color-blue">
                                <!--Icono-->
                                <i class="fa-brands fa-css3-alt"></i>
                            </span>
                            <span class="icon-container me-2 color-purple">
                                <!--Icono-->
                                <i class="fa-brands fa-bootstrap"></i>
                            </span>
                            <span class="icon-container me-2 color-pink">
                                <!--Icono-->
                                <i class="fa-brands fa-sass"></i>
                            </span>
                            <span class="icon-container me-2 color-black">
                                <!--Icono-->
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3 -->
        <div class="modal fade" id="projectModal3" tabindex="-1" aria-labelledby="projectModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="projectModal3Label">Prototipado con construct</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div>   
                            <img src="../Assets/Img/GameCosntruct.png" alt="" class="responsive-img imgB">
                        </div>
                        <!--Descripcion-->
                        <div>   
                            <p class="text-black">Primer prototipo de juego top down usando construct 2d</p>
                        </div>
                        <!--techIcons-->
                        <div class="d-flex align-items-center mb-3">
                            <span class="icon-container me-2 color-black">
                                <!--Icono-->
                                <p class="iconPS bg-dark-blue color-white">Ps</p>
                            </span>
                            <span class="icon-container me-2 color-black">
                                <!--Icono-->
                                <i class="fa-solid fa-gear color-light-gray"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 4 -->
        <div class="modal fade" id="projectModal4" tabindex="-1" aria-labelledby="projectModal4Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="projectModal4Label">Prototipado con Unity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div>   
                            <img src="../Assets/Img/GameUnityDomestica.png" alt="" class="responsive-img imgB">
                        </div>
                        <!--Descripcion-->
                        <div>   
                            <p class="text-black">Primer prototipo de juego en Unity con el curso de Domestika</p>
                        </div>

                        <div>   
                            <img src="../Assets/Img/Domestika.png" alt="" class="responsive-img">
                        </div>

                        <!--techIcons-->
                        <div class="d-flex align-items-center mb-3">
                            <span class="icon-container me-2 color-black">
                                <!--Icono-->
                                <i class="fa-brands fa-unity color-black"></i>
                            </span>
                            <span class="icon-container me-2 color-black">
                                <!--Icono-->
                                <div class="logo_C-sharp bg-purple color-white">C#</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 5 -->
        <div class="modal fade" id="projectModal5" tabindex="-1" aria-labelledby="projectModal5Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="projectModal5Label">MindHub primer examen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div>   
                            <img src="../Assets/Img/MindHubCamilo.jpeg" alt="" class="responsive-img imgB">
                        </div>
                        <!--Descripcion-->
                        <div>   
                            <p class="text-black">Sitio web estatico hecho en una sola hora como examen del primer modulo del bootcamp MERN</p>
                        </div>

                        <div>   
                            <img src="../Assets/Img/MindHub.png" alt="" class="responsive-img">
                        </div>

                        <!--techIcons-->
                        <div class="d-flex align-items-center mb-3">
                            <span class="icon-container me-2">
                                <!--Icono-->
                                <i class="fa-brands fa-html5 color-orange"></i>
                            </span>
                            <span class="icon-container me-2 color-blue">
                                <!--Icono-->
                                <i class="fa-brands fa-css3-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 6 -->
        <div class="modal fade" id="projectModal6" tabindex="-1" aria-labelledby="projectModal6Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="projectModal6Label">Practica Coder House</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div>   
                            <img src="../Assets/Img/TechBerry.jpeg" alt="" class="responsive-img imgB">
                        </div>
                        <!--Descripcion-->
                        <div>   
                            <p class="text-black">Sitio web estatico donde practique FlexBox, Grid y algun que otra pseudoclase</p>
                        </div>

                        <div>   
                            <img src="../Assets/Img/logos_coderhouse.png" alt="" class="responsive-img">
                        </div>

                        <!--techIcons-->
                        <div class="d-flex align-items-center mb-3">
                            <span class="icon-container me-2">
                                <!--Icono-->
                                <i class="fa-brands fa-html5 color-orange"></i>
                            </span>
                            <span class="icon-container me-2 color-blue">
                                <!--Icono-->
                                <i class="fa-brands fa-css3-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Modal especial para los proximos proyectos-->
    <div class="modal fade" id="projectModalES" tabindex="-1" aria-labelledby="projectModalESLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="projectModalESLabel">PROXIMAMENTE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!--Descripcion-->
                    <div>   
                        <p class="text-black">Trabajando para ser un Desarollador de Entornos virtuales</p>
                    </div>
                    <div class="spinnerDiv">
                        <span>
                            <i class="fa-solid fa-spinner"></i>
                        </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer W-tx-cl">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                <!-- Íconos sociales -->
                    <ul class="footer__iconos">
                        <li class="footer__item">
                            <a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                            <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                            <a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                <!-- Párrafo de derechos reservados -->
                    <p>Derechos reservados &copy; Tomás Fraire | Coderhouse 2023 | Curso de Desarrollo Web Flex</p>
                </div>
            </div>
        </div>
    </footer>
    <!--js scripts boostrap y popperjs-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/83fc7f532e.js" crossorigin="anonymous"></script>
</body>

</html>






















