<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Fraire CV</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../Assets/favicon/favicon.ico" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body class="W-tx-cl">
    <header class="header sticky-top">
        <!-- Barra de navegación (Navbar) -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">
                <img class="homeIcon" src="../Assets/favicon/programming-code-signs_59118.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="aboutMe.html">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="skills.html">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="W-tx-cl">
        <!--Galeria de tecnologias y softwares-->
        <section class="gallery-container">
            <div class="container-fluid bg-dark">
                <h3 class="h2 text-light text-center p-4">Tecnologias Y softwares</h3>
            </div>
            <div class="galleryS">
                <div class="gallery-item">
                    <img src="../Assets/icons/html-5.png" alt="html" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/css.png" alt="css" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/Sass.png" alt="JavaScript" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/bootstrap.png" alt="bootstrap" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/js.png" alt="C-sharp" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/github.png" alt="github" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/c-sharp.png" alt="Mincrosoft .NET" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/dragonBones.png" alt="Mincrosoft .NET" class="petiteIMG bg-white">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/Blender.png" alt="Mincrosoft .NET" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/figma.png" alt="Mincrosoft .NET" class="petiteIMG">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/Unity.png" alt="Mincrosoft .NET" class="petiteIMG bg-white">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/UnrealEn.png" alt="Mincrosoft .NET" class="petiteIMG bg-white ">
                </div>
                <div class="gallery-item">
                    <img src="../Assets/icons/PS.png" alt="Mincrosoft .NET" class="petiteIMG">
                </div>
            </div>
        </section>
        <!--Idiomas-->
        <section class="gallery-container">
        <div class="container-fluid bg-dark">
            <h3 class="h2 text-light text-center p-4">Idiomas</h3>
        </div>
        <div class="galleryS">
            <div class="gallery-item"><p>ES</p>
                <img src="../Assets/Img/LangArgentina.png" alt="Español" class="petiteIMG">
            </div>
            <div class="gallery-item"><p>IN</p>
                <img src="../Assets/Img/LangInglaterra.png" alt="Ingles" class="petiteIMG">
            </div>
            <div class="gallery-item"><p>IT</p>
                <img src="../Assets/Img/LangItalia.png" alt="Italiano" class="petiteIMG">
            </div>
        </div>
        </section>
        <!--slider-->
        <section class="sliderCards">
            <div class="container-fluid bg-dark">
                <h3 class="h2 text-light text-center p-4">Mis Estudios</h3>
            </div>

        <!--Galeria/slider de certificados-->
            <div id="carouselExampleAutoplaying" class="carousel slide certSlide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../Assets/Img/linkedinLearningHTMLess.png" class="d-block w-100" alt="Imagen 1">
                    </div>
                    <div class="carousel-item">
                        <img src="../Assets/Img/GgActivateWebDevTomasFraire.png" class="d-block w-100" alt="Imagen 2">
                    </div>
                    <div class="carousel-item">
                        <img src="../Assets/Img/FundAulaIntroProgram.png" class="d-block w-100" alt="Imagen 3">
                    </div>
                    <div class="carousel-item">
                        <img src="../Assets/Img/linkedinLearningFundaQA.png" class="d-block w-100" alt="Imagen 3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <div class="CardsSection">
            <div class="container card-container mt-3 cardGal">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card custom-card">
                            <img src="../Assets/Img/CDP.png" class="card-img-top" alt="Foto del Colegio del pilar">
                            <div class="card-body">
                                <h5 class="card-title">Colegio del pilar</h5>
                                <p class="card-text">En este Colegio Bilingue, pase 6 años de primaria y 4 años de secundaria, en los cuales aprendi a desenvolverme en <strong>Ingles</strong>, ademas de desarollar mis habilidades sociales, logicas y de pensamiento critico en materias como: <strong>Ciencias de la computacion</strong> | <strong>Metodologia de la investigacion</strong> | <strong>Ciencias exactas</strong> |  <strong>Filosofia</strong> | <strong>Ciencias naturales</strong> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card custom-card">
                            <img src="../Assets/Img/InstitutoSanIsidroLabrador.jpg" class="card-img-top" alt="Foto del Instituto San Isidro Labrador">
                            <div class="card-body">
                                <h5 class="card-title">Instituto San Isidro Labrador</h5>
                                <p class="card-text">Bachiller en Adminsitracion y Contabilidad, 2 años de secundaria, en esta institucion pude desarollar mi ideantida garcias a materias como: <strong>Orientacion Vocacional</strong> | <strong>Sociologia</strong> | <strong>proyecto</strong> |  <strong>TIC</strong> | <strong>Quimica</strong> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card custom-card">
                            <img src="../Assets/Img/Domestika.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Domestika</h5>
                                <p class="card-text">Platafroma de cursos en la cualdesarolle mi interes pro el Videojeugo y el 3D. Curso como: <strong>Intro a desarollo 2D con Unity</strong> | <strong>Intro a desarollo 3D con Unity</strong> | <strong>Simulacion de telas: Marvelus Disigner</strong> |  <strong>Pixelarte para Videojueos</strong> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card custom-card">
                            <img src="../Assets/Img/logos_coderhouse.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CoderHouse</h5>
                                <p class="card-text">Plataforma de cursos orientados a la tecnologia y artes digitales.
                                    por el momento solo curse <strong>Desarollo Web Flex</strong> espero sumar muchos mas!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card custom-card">
                            <img src="../Assets/Img/MindHub.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mind Hub</h5>
                                <p class="card-text">Voy a realizar el Bootcamp de tecnologias <strong>MERN</strong>, quiero dedicarme al desarollo de APPs y espero poder usar este bootcamp como medio de entrada. El camino recien empiza!!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </main>


    <footer class="footer W-tx-cl">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Íconos sociales -->
                    <ul class="footer__iconos">
                        <li class="footer__item">
                        <a href="https://www.linkedin.com/in/tomas-matias-fraire-guzzo-ba5ab01b6/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                        <a href="https://github.com/tomasfraire" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                        <a href="https://www.youtube.com/channel/UCLauGYi1HpsUoFupvhM-wlw" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                        <a href="https://instagram.com/matita_estudio?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><i class="fa-brands fa-square-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <!-- Párrafo de derechos reservados -->
                    <p>Derechos reservados &copy; Tomás Fraire | Coderhouse 2023 | Curso de Desarrollo Web Flex</p>
                </div>
            </div>
        </div>
    </footer>


    <!--js scripts boostrap y popperjs-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/83fc7f532e.js" crossorigin="anonymous"></script>
</body>

</html>