<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Fraire CV</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="./Assets/favicon/favicon.ico" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body class="W-tx-cl">
    <header class="header sticky-top">
        <!-- Barra de navegación (Navbar) -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="../index.html" class="navbar-brand">
                <img class="homeIcon" src="../Assets/favicon/programming-code-signs_59118.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="aboutMe.html">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="skills.html">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="W-tx-cl">

    </main>
    
    <footer class="footer W-tx-cl">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                <!-- Íconos sociales -->
                    <ul class="footer__iconos">
                        <li class="footer__item">
                            <a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                            <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer__item">
                            <a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                <!-- Párrafo de derechos reservados -->
                    <p>Derechos reservados &copy; Tomás Fraire | Coderhouse 2023 | Curso de Desarrollo Web Flex</p>
                </div>
            </div>
        </div>
    </footer>
    <!--js scripts boostrap y popperjs-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/83fc7f532e.js" crossorigin="anonymous"></script>
</body>

</html>