p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
span{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
h2, h3, h4, h5, h6{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.99),rgba(0, 0, 0, 0.95),rgba(26, 0, 0, 0.85)), 
    url(../Assets/Img/Background.jpg) no-repeat center center fixed;
    background-size: cover;
}


span {
    color: $bold-color;
    display: inline-block;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.3s;
    text-shadow: 2px 5px 5px #000000, -2px -2px 5px #000000;

}

span:hover {
    transform: translateY(-10px); /* Movimiento hacia arriba de 2px al pasar el cursor */
}

.likeSpan{
    display: inline-block;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.3s;

    &:hover{
        transform: translateY(-10px); /* Movimiento hacia arriba de 2px al pasar el cursor */
    }
}
.W-tx-cl{
    color: $white-color;
}

footer{
    background-color: rgb(2, 0, 4);
    padding: 1.5rem;
}

.footer__iconos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer__item {
    margin: 0 10px;
}

.footer__item a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.footer__item a:hover {
    color: $bold-color;
}

.roman-numerals-list {
    list-style: upper-roman;
    margin-left: 20px;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
}