
.contact-form {
    max-width: 500px;
    margin: 0 auto;

    .form-label {
        font-weight: bold;
    }

    .btn {
        margin-top: 20px;
        border-color: $bold-color;
        background-color: $bold-color;

        &:hover {
            background-color: $dark-bold-color;
            border-color: $bold-color;
        }
    }
}

.side-image {
    max-width: 100%;
    height: auto;
    transform: scale(0.8);
}

.contMain{
    padding-top: 20px;
    padding-bottom: 50px;
}
